
<div class="panel panel-default">

  <div class="panel-heading task-head clearfix">
    <div class="task-priority">
      <span><%= @task.priority %></span>
    </div>
    <div class="task-deadline">
      <span><%= @task.deadline %></span>
    </div>
  </div>

  <div class="panel-heading task-title">
    <span><%= @task.title %></span>
  </div>

  <div class="panel-body task-description">
    <span><%= @task.description %></span>
  </div>

  <hr>
  
  <% @task.subtasks.each do |s| %>
  <div class="panel-body subtask-title">
    <ul>
      <li>
        <%= s.title %>
        <%= link_to 'Delete', [s], method: :delete, data: { confirm: 'Вы уверены?' } %>
      </li>
    </ul>
  </div>
  <% end %>

</div>

<%= render "subtask" %>
