<!DOCTYPE html>
<html lang='ru'>
<head>
  <title>Taskmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-2 user-block">
          <span>Username</span>
        </div>
        <div class="col-md-10 nav-block">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "Добавить задачу", new_task_path, class: "btn btn-default btn-sm navbar-left" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <aside class="col-md-2 nopadding sidebar">
        <section class="sidebar-title">
          <span>tasks</span>
        </section>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <%= link_to "Today", tasks_path %>
          </li>
          <li>
            <%= link_to "Tomorrow", tomorrow_tasks_path %>
          </li>
          <li>
            <%= link_to "Scheduled", scheduled_tasks_path %>
          </li>
          <li>
            <%= link_to "Waiting", waiting_tasks_path %>
          </li>
        </ul>
        <section class="sidebar-title">
          <span>projects</span>
        </section>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <%= link_to "Project title", tasks_path %>
          </li>
        </ul>
      </aside>
      <div class="col-md-10 content">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-text pull-left">
        © ODINSY
      </div>
    </div>
  </footer>

</body>
</html>
